{% extends "base.html" %}
{% block title %}
Password Reset
{% endblock %}

{% block custom_css %}
<style>
    .form-container {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    body {
        padding-top: 70px;  /* navbar height ke equal */
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    input[type="password"],
    input[type="email"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #45a049;
    }
    li {
        color: red;
    }
    .error-message {
        color: red;
    }
</style>
{% endblock %}

{% block body %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                <div class="form-container">
                    <h3>Password Reset</h3><br>
                    <form method="post">
                        {% csrf_token %}

                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <br><br>

                        {% if form.errors %}
                            <p class="error-message">{{ form.errors }}</p>
                        {% endif %}

                        <button type="submit">send confirmation link</button>
                    </form>
                    <a href="{% url 'login' %}" style="float: right;">Back to Login</a><br>
                    <br>
                    <h3><a href="{% url 'signup' %}">Create an account</a></h3>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block custom_js %}

{% endblock %}
